<!DOCTYPE html>
<html>
  <head>
    <title>Mycoin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/js/billboard.min.js"></script>
    <link href="/css/billboard.min.css" rel="stylesheet">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
